:root {
    /* Palette */
    --background: #181a1b;
    --blue: #4F7DFF;
    --purple: #ff7dff;
    --black: #080b16;
    --white: #e3e1e0;
    --light-black: #1c1e20;
    --dark-white: #e3e1e0b3;
    --opacity-black: #181a1be6;
    --opacity-white: #ffffffe6;
    --box-shadow-color: 0px 0px 16px 0px rgb(79, 125, 255, .6);
}
::-webkit-scrollbar {width: 9px;}
::-webkit-scrollbar-track {background: none}
::-webkit-scrollbar-thumb {background: linear-gradient(to top, var(--blue), var(--purple));border-radius: 50px;}
::selection {background-color: var(--blue);color: var(--white);}
*{font-family:  'Montserrat',  sans-serif;box-sizing:  border-box;padding:  0;margin:  0;}
a{text-decoration:  none;}
body {background-color: var(--background);}
header  {background-color: var(--opacity-black);padding:  15px 30px 10px 30px;backdrop-filter: blur(5px);justify-content: center;align-content: center;list-style:  none;position: fixed;display:  flex;width:  100%; z-index: 9;}
header ul  {margin:  auto 0 auto 0;}
header li,  footer li  {margin:  0px 15px 0px 15px;display:  inline-block;}
header li img  {height:  60px;}
header ul li a {margin:  15px 0px 15px 0px;color:  var(--dark-white);font-weight:  500;transition:  .2s; opacity: .7;}
header ul li a:hover {margin:  15px 0px 15px 0px;color:  var(--white);font-weight:  500; opacity: 1;}
section {justify-content: center;align-content: center;object-fit: cover;flex-wrap: wrap;display: flex;}
#progress  {transition:  width 500ms ease-out,  opacity 400ms linear;background:  linear-gradient(to right,  var(--blue),  var(--purple));border-radius:  1px;position:  fixed;z-index:  100;height:  3px;left:  -6px;width:  1%;top:  0;}
#container {margin-top: 125px;padding: 20px;width: 575px;}
#title {font-family: 'Nunito', sans-serif;font-weight: 700;margin-left: -5px;font-size: 70px; color: var(--white); text-transform: uppercase;}
#description {font-family: 'Ubuntu', sans-serif;font-weight: 300;font-size: 18px;opacity: .8; color: var(--white)}
#container-blockquote {background-color: rgba(83, 129, 255, 0.6); padding: 10px; width: 200px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; text-align: center;}
#blockquote-content {color: var(--white); font-weight: 500;}
#header {font-family: 'Nunito', sans-serif; font-size: 25px; font-weight: 700; color: var(--white)}
#card-game-view-title {font-weight: 400; font-size: 16px; padding-top: 5px;}
#card-game-view-price {font-weight: 400; font-size: 16px; padding-top: 5px;}
#card-title {font-weight: 400; font-size: 18px; padding-top: 5px;}
#card-price {font-weight: 400; font-size: 18px; padding-top: 5px;}
#container-header {width: 875px;}
#container--center {justify-content: center;align-content: center;object-fit: cover;flex-wrap: wrap;display: flex;}
#background-game {margin-top: -34.5px;}
#game-title {color: var(--white);font-weight: 600;font-size: 35px; margin-top: 10px; margin-bottom: 0px; font-family: 'Nunito',sans-serif;}
#game-platform {border-left: 3px solid var(--blue);padding-left: 5px;font-weight: 300;font-size: 15px;transition: .2s; color: var(--white);}
#game-price {color: var(--white);font-size: 20px; margin-top: 25px; margin-bottom: 25px; font-weight: 400;}
#game-agreement {color: var(--white);margin-top: 30px;font-weight: 400;font-size: 13px;}
#information-product {margin-left: 50px;margin-right: 50px;margin-top: 67px;}
#remodal-button {color: var(--blue);border-bottom: 1px solid #181a1b;text-decoration: none;transition: .2s;}
#remodal-button:hover {border-bottom: 1px solid var(--blue);}
#game-description-content {margin-top: 25px;font-weight: 400;font-size: 16px; width: 70%; color: rgb(227,225,224);;}
.button-no-backgorund {padding: 10px 20px 10px 20px;border: 2px solid var(--blue);background-color: none;border-radius: 10px;line-height: 10px;transition:  .2s;color: var(--blue);}
.button-no-backgorund:hover {box-shadow: 0px 0px 16px 0px rgb(79, 125, 255, .7);background-color: var(--blue);border: 2px solid var(--blue);color: #fff;}
.button-no-backgorund:active {background-color: #335dd1; border: 2px solid #335dd1;}
.button {padding: 10px 20px 10px 20px;background-color: var(--blue);border: 2px solid var(--blue);border-radius: 10px;line-height: 10px;transition:  .2s;opacity: .8;color: #fff;}
.button:hover {background-color: var(--blue);color: var(--white);opacity: 1;}
.button:active {background-color: #335dd1; border: 2px solid #335dd1;}
.element-animation {opacity: 0;transform: translateY(20px);}
.element-animation.element-show {opacity: 1;transition: all 1.5s;transform: translateY(0%);}
.element-animation.element-show:nth-child(3) {opacity: 1; transition: all 3s; transform: translateY(0%);}
.card-game-view {width: 225px; height: 375px; padding: 13px; border-radius: 5px; color: var(--white);}
.card-game-view img {height: 250px; width: 200px; border-radius: 5px;}
.card-game-view:hover {background-color: rgba(82, 82, 82, 0.1); cursor: pointer; border-radius: 15px;}
.card-game {width: 200px; height: 350px; margin: 25px;}
.card-game img {height: 275px; width: 225px; border-radius: 5px;}
.icon {transition: .2s;}
.header-href {color: var(--white);}
.header-href:hover .icon {transform: translateX(5px);}
.slider {position: relative;overflow: hidden;max-width: 100%;margin-left: auto;margin-right: auto}
.slider__wrapper {position: relative;overflow: hidden;background-color: var(--black);}
.slider__items {display: flex;transition: transform .5s ease;}
.transition-none {transition: none;}
.slider__item {flex: 0 0 100%;min-width: 100%;max-height: 100%;position: relative;}
.slider__control {position: absolute;top: 50%;width: 40px;height: 10vh;transform: translateY(-50%);display: none;align-items: center;justify-content: center;color: #fff;background: rgba(255, 255, 255, .3);opacity: .5;user-select: none;}
.slider__control_show {display: flex;}
.slider__control:focus, .slider__control:hover {color: var(--white);text-decoration: none;opacity: .7;}
.slider__control_prev {left: 0;}
.slider__control_next {right: 0;}
.slider__control::before {content: '';display: inline-block;width: 20px;height: 20px;background: transparent no-repeat center center;background-size: 100% 100%}
.slider__control_prev::before {background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http: //www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");}
.slider__control_next::before {background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http: //www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");}
.slider__indicators {position: absolute;border-radius:  5vh;left: 0;right: 0;bottom: 10px;display: flex;justify-content: center;padding-left: 0;margin: 0 15%;list-style: none;user-select: none;}
.slider__indicator {flex: 0 1 auto;width: 1.5vh;height: 1.5vh;border-radius:  50%;margin-bottom:  4vh;margin-right: 1vh;margin-left: 1vh;background-color: rgba(255, 255, 255, .5);background-clip: padding-box;cursor: pointer;}
.slider__indicator_active {background-color: var(--white);border-radius:  50%}
.slider__item  {height:  100%; }
.header_text  {font-family:  'Montserrat',  sans-serif;font-weight:  800;color:  #171e25;opacity:  .8;margin-top:  50px;margin-left:  25%;font-size:  20px;text-align:  left;}
.img_slider_item {-webkit-background-size:  cover;-moz-background-size:  cover;-o-background-size:  cover;background-size:  100%;background-position:  center;-webkit-background-size:  cover;-moz-background-size:  cover;-o-background-size:  cover; background-size:  cover ;  height: 100vh; cursor: grab;}
.img_slider_item:active {cursor: grabbing;}
html.remodal-is-locked {overflow: hidden;-ms-touch-action: none;touch-action: none;}
.remodal,[data-remodal-id] {display: none;}
.remodal-overlay {position: fixed;z-index: 9999;top: -5000px;right: -5000px;bottom: -5000px;left: -5000px;display: none;}
.remodal-wrapper {position: fixed;z-index: 10000;top: 0;right: 0;bottom: 0;left: 0;display: flex; justify-content: center; align-content: center;}
.remodal-wrapper:after {display: inline-block;margin-left: -0.05em;content: "";}
.remodal-overlay,.remodal-wrapper {-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.remodal {overflow-x: hidden;overflow-y: scroll;position: relative;outline: none;width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-size-adjust: 100%;}
.remodal-is-initialized {display: inline-block;}
.card-product {margin: 0 10px 20px 0;}
.card-product img {border-radius: 5px;max-height: 350px;}
.button-download {background-color: none;border: 2px solid var(--blue);padding: 15px 80px 15px 80px;font-size: 20px;font-weight: 700; opacity: .8;border-radius: 5px;color: var(--blue);transition: .2s;}
.button-download:hover {background-color: var(--blue); color: var(--white); border: 2px solid var(--blue);border-radius: 10px;cursor: pointer;box-shadow: var(--box-shadow-color);position: relative; opacity: 1;}
.button-download-disabled {background-color: var(--white);border: 2px solid var(--white);padding: 15px 80px 15px 80px;font-size: 20px;font-weight: 700;border-radius: 5px;color: var(--background);transition: .2s;opacity: .3;}
.button-download-disabled:hover {cursor: no-drop;user-select: none;}
.game-description { margin-bottom: 50px;width: 800px;}
.table-wrapper {width: 100%;overflow-x: auto;padding-bottom: 20px;}
.table-03 {width: 100%;border-collapse: collapse;table-layout: fixed;}.td_title {font-weight: 700;}
.icon {font-size: 25px;padding: 0 15px 0 0;}
.icon6 {font-size: 25px;padding: 0 17px 0 0;}
.icon7 {font-size: 25px;padding: 0 10px 0 0;}
.table-03 th, .table-03 td {padding: 15px;color: var(--white);border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;font-size: 16px;margin-top: 0;}
.table-03 th {background-color: #dedede;}
.remodal-button {color: var(--blue);border-bottom: 3px solid var(--background);transition: .2s;font-weight: 600;}
.remodal-button:hover {border-bottom: 3px solid var(--blue);}
.background-game {padding-right: 12px;}
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {-webkit-filter: blur(3px);filter: blur(3px);backdrop-filter: blur(3px);}
.remodal-overlay {background: rgba(0, 0, 0, 0.9);backdrop-filter: blur(3px);}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {-webkit-animation-duration: 0.3s;animation-duration: 0.3s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.remodal-overlay.remodal-is-opening {-webkit-animation-name: remodal-overlay-opening-keyframes;animation-name: remodal-overlay-opening-keyframes;}
.remodal-overlay.remodal-is-closing {-webkit-animation-name: remodal-overlay-closing-keyframes;animation-name: remodal-overlay-closing-keyframes;}
.remodal-wrapper {padding: 10px 10px 0;}
.remodal {margin-bottom: 10px;color: var(--white);background: var(--background);}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {-webkit-animation-duration: 0.3s;animation-duration: 0.3s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.remodal.remodal-is-opening {-webkit-animation-name: remodal-opening-keyframes;animation-name: remodal-opening-keyframes;}
.remodal.remodal-is-closing {-webkit-animation-name: remodal-closing-keyframes;animation-name: remodal-closing-keyframes;}
.remodal a {color: var(--blue);border-bottom: 3px solid var(--background);transition: .2s;}
.remodal a:hover {color: var(--blue);border-bottom: 3px solid var(--blue);}
.remodal,.remodal-wrapper:after {vertical-align: middle;}
.remodal-close {position: absolute;top: 0;left: 0;display: block;overflow: visible;width: 35px;height: 35px;margin: 0;padding: 0;cursor: pointer;-webkit-transition: color 0.2s;text-decoration: none;color: #95979c;border: 0;outline: 0;background: transparent;}
.remodal-close:hover,.remodal-close:focus {color: #e74c3c;background: rgba(227, 225, 224, 0.194);}
.remodal-close:before {font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;font-size: 25px;line-height: 35px;position: absolute;top: 0;left: 0;display: block;width: 35px;content: "\00d7";text-align: center;}
.remodal-confirm,.remodal-cancel {font: inherit;display: inline-block;overflow: visible;min-width: 110px;margin: 0;padding: 12px 0;cursor: pointer;-webkit-transition: background 0.2s;transition: background 0.2s;text-align: center;vertical-align: middle;text-decoration: none;border: 0;outline: 0;}
.remodal-confirm {color: #fff;background: #81c784;}
.remodal-confirm:hover,.remodal-confirm:focus {background: #66bb6a;}
.remodal-cancel {color: #fff;background: #e57373;}
.remodal-cancel:hover,.remodal-cancel:focus {background: #ef5350;}
.remodal-confirm::-moz-focus-inner,.remodal-cancel::-moz-focus-inner,.remodal-close::-moz-focus-inner {padding: 0;border: 0;}
.logo-- img {margin-left: -5px;height: 55px;}
.toggle-nav-btn {width: 40px;height: 40px;background: transparent;top: 23px;left: 5px;cursor: pointer; z-index: 99999; display: none; float: right;}
.toggle-nav-btn div {width: 85%;height: 2px;margin: 6px auto;background: #fff;transition: all 300ms ease;}
.toggle-nav-btn div:first-child {margin-top: 10px;}
.toggle-nav-btn.active div {background: #fff;}
.toggle-nav-btn.active div:nth-child(1) {transform: rotate(-40deg) translate(-10px, 8px);width: 90%;}
.toggle-nav-btn.active div:nth-child(2) {transform: translateX(40%);width: 0%;}
.toggle-nav-btn.active div:nth-child(3) {transform: rotate(40deg) translateY(-1px) translateX(-4px);width: 90%;}
.main-nav {z-index: 100;display:none;position: fixed;width: 60vh;min-width: 220px;font-weight: 500;height: 100vh;background: rgb(255, 255, 255, 0.9); color: #080b16;transform: translateX(-100%);transition: all 400ms ease;font-size: 20px;border-right: 10px solid #080b16;overflow-x: hidden;overflow-y: auto; backdrop-filter: blur(5px);}
.main-nav h4 {padding: 1em;padding-left: 40px;text-align: center;color: #ffffff;background-color: #080b16;}
.main-nav h4 span {font-size: 16px;color: #fff;}
.main-nav ul {list-style: none;}
.main-nav ul li {position: relative;overflow: hidden;}
.main-nav ul li a {display: block;padding: 1em 2em 1em 2em;color: #080b16;text-decoration: none;transition: all 50ms ease-in;}
.main-nav ul li a:hover{color: #4F7DFF;}
.main-nav ul li a:focus {color: #4F7DFF; background-color: rgb(248, 248, 248, .6);}
.main-nav ul li ul {display: none;}
.main-nav ul li ul.visible {display: block;}
.main-nav ul li ul li a {font-size: .9em;padding-left: 3.5em;}
.main-nav ul li ul li a:hover {padding-left: 3.5em;color: #4F7DFF;}
.main-nav ul li .deployer {display: block;position: absolute;right: 0;top: 0;height: 100%;width: 20%;padding: 1em;cursor: pointer;text-align: center;transition: all 200ms ease;}
.main-nav ul li .deployer:hover,
.main-nav ul li .deployer.active {color: #4F7DFF;}
.main-nav .--links {max-width: 100%;bottom: 20px;text-align: center;transform: translateY(150%) translateX(-400%); font-size: 30px;}
.main-nav .--links img {max-width: 60%;height: auto;}
.main-nav.visible {transform: translateX(0);}
.main-nav h4 span,.main-nav a,.main-nav .deployer,.main-nav .logo {visibility: hidden;opacity: 0;}
.main-nav.transition-ended h4 span,.main-nav.transition-ended a,.main-nav.transition-ended .deployer,
.main-nav.transition-ended .--links {visibility: visible;opacity: 1;transition: all 400ms ease;}
.main-nav.transition-ended a {transition-delay: 0.25s;}
.main-nav.transition-ended a:hover {transition-delay: 0;}
.main-nav.transition-ended .deployer {transition-delay: 0.5s;}
.main-nav.transition-ended .deployer:hover {transition-delay: 0;}
.main-nav.transition-ended .--links {transition-delay: 0.7s;transform: translateY(150%) translateX(0);}
.main-nav.transition-ended .--links:hover {transition-delay: 0;}
.informaion-link {color: var(--blue);border-bottom: 3px solid #fff;transition: .2s; font-weight: 500;}
.informaion-link:hover {color: var(--blue);border-bottom: 3px solid var(--blue);}
.lt-ie9 .remodal-overlay {background: var(--background);}
.lt-ie9 .remodal {width: 100%;}
.article_container {justify-content: center;align-content: center;object-fit: cover;flex-wrap: wrap;display: flex;}
.article {height: 600px;width: 575px;margin: 10px 15px 15px 15px;}
.article:hover {cursor: pointer;}
.article:hover .article_title {cursor: pointer;color: var(--blue);}
.readmore {color: var(--blue);transition: .2s;border-bottom: 3px solid var(--blue);}
.article:hover .readmore {cursor: pointer;color: var(--purple);;border-bottom: 3px solid var(--purple);}
.article img {height: 55%;width: 100%;border-radius: 10px;user-select: none;display: flex;justify-content: center;align-content: center;object-fit: cover;flex-wrap: wrap;}
.article_title {color: var(--white);transition: .2s;font-size: 20px;font-family: 'Nunito',sans-serif; }
.article_description {color: var(--dark-white);font-size: 18px;font-weight: 300;}
.article_datetime {color: var(--dark-white);font-weight: 300;margin-top: 10px; font-size: 18px;}
.article_ {height: 300px;width: 270px;margin: 10px 15px 15px 15px;}
.article_:hover {cursor: pointer;}
.article_:hover .article__title {cursor: pointer;color: var(--blue);}
.article_:hover .readmore {cursor: pointer;color: var(--purple);border-bottom: 3px solid var(--purple);}
.article_ img {border-radius: 10px;height: 150px;width: 270px;}
.article__title {color: var(--white);transition: .2s;font-size: 20px; font-family: 'Nunito',sans-serif;}
.article__description {font-size: 18px;font-weight: 300;}
.article__datetime {font-weight: 300;margin-top: 10px; color: var(--dark-white); font-size: 16px;}
.footer {display: flex;flex-flow: row wrap;padding: 10px 15px 10px 15px;color: var(--white);background: #131516;}
.footer > * {flex: 1 100%;}
.footer a {font-family: 'Montserrat', sans-serif;text-decoration: none;transition: .2s;}
.footer a:hover {opacity: 1;text-decoration: none;}
.footer__addr {margin-right: 1.25px;margin-bottom: 2px;}
.footer__logo {margin-left: -1vh;}
.footer__addr h2 {font-size: 15px;font-weight: 400;}
.nav__title {font-family: 'Nunito', sans-serif;font-weight: 700;font-size: 23px;margin-left: 25px;color:var(--white);}
.footer address {font-style: normal;color: #999;}
.footer ul {list-style: none;padding-left: 0;}
.footer a {font-weight: 500;text-decoration: none;}
.nav__ul a {border-bottom: 2px solid #131516;}
.nav__item {margin: 20px 0px 20px 0px;}
.nav__ul a:hover {color: var(--blue);border-bottom: 2px solid var(--blue);}
.footer__nav {display: flex;flex-flow: row wrap;}
.footer__nav > * {flex: 1 50%;margin-right: 25px;}
.nav__ul--extra {column-count: 2;column-gap: 15px;}
.legal {display: flex;flex-wrap: wrap;color: #999;font-size: 18px;}
.legal__links {display: flex;align-items: center;font-size: 30px;}
.foooter_____ p {color: rgb(215, 215, 215);padding: 10px 30px 10px 30px;font-size: 15px;}
.foooter_____ a {float: right;color: #fff;transition: .2s;margin: 0 10px;font-weight: 500;position: relative;padding: 0 0 3px 0;}
.foooter_____ a:hover {padding: 0 0 3px 0;}
.link_pc {font-size: 35px;padding: 20px;color: white;float: right;opacity: 1;}
.link {font-size: 35px;padding: 20px;color: white;opacity: 1;display: none;}
.down-footer a {border-bottom: 2px solid #181a1b;}
.down-footer a:hover {border-bottom: 2px solid var(--white)}
td a {color: var(--blue); border-bottom: 2px solid var(--background); transition: .2s;}
td a:hover {border-bottom: 2px solid var(--blue);}
.article-description a {color: var(--blue);border-bottom: 3px solid var(--background);text-decoration: none;transition: .2s;}
.article-description a:hover {border-bottom: 3px solid var(--blue);}
.article-source a {color: var(--blue);border-bottom: 3px solid var(--background);text-decoration: none;font-weight: 500;transition: .2s;}
.article-source a:hover {border-bottom: 3px solid var(--blue);}
.article-container__footer {display: flex;align-items: center;justify-content: center;}
main {display: flex;align-items: center;justify-content: center;color: var(--color-text-black);}
#article-content {width: 650px;margin: 5vh; color: var(--white)}
#article-content img {height: 45%;width: 100%;margin-top: 25px;margin-bottom: 25px;border-radius: 10px;user-select: none;display: flex;justify-content: center;align-content: center;object-fit: cover;flex-wrap: wrap;}
.article-main-img img {height: 500px;}
.article-quote {background: #1c1e20;box-shadow: 0 0 10px rgba(0,0,0,0.3);border-radius: 10px;color: var(--color-text-black);padding: 35px;margin-bottom: 25px; font-size: 18px;}
.article-quote__employeename {font-size: 22px; margin-top: 15px; font-family: 'Nunito', sans-serif;}
.article-quote__jobtitle {font-size: 15px;margin-top: 2px;margin-bottom: -0px;font-weight: 300;}
iframe {height: 300px;width: 600px;}
.article-footer__  {font-size: 18px;transition: .2s;opacity: .8; margin-top:20px;}
.article-footer__link {color: var(--blue);border-bottom: 3px solid var(--background);font-weight: 900;text-decoration: none;transition: .2s;}
.article-footer__link:hover {border-bottom: 3px solid var(--blue);}
.article-header {font-family: 'Montserrat', sans-serif;color: var(--color-text-black);font-weight: 1000;font-size: 45px;margin-bottom: -5px;}
.article-description {font-weight: 400;font-size: 20px; margin-top: 10px;}
@media screen and (max-width: 600px) {.article-header {font-size: 30px;}}
@media screen and (max-width: 600px) {.article img {height: 50%;width: 100%;} .article {height: 500px;width: 475px;}}
@media screen and (max-width: 550px) {.article img {height: 50%;width: 100%;} .article {height: 400px;width: 375px;} .article_title {font-size: 18px;}.article_description{font-size: 14px;} .article_datetime {font-size: 13px;}}
@media screen and (max-width: 400px) {.article img {height: 50%;width: 100%;} .article {height: 300px;width: 275px;} .article_title {font-size: 16px;}.article_description{font-size: 12px;} .article_datetime {font-size: 12px;}}
@media screen and (max-width: 500px) {.main-nav {width: 40vh;}}
@media screen and (max-width: 360px) {.main-nav {width: 35vh;}}
@media screen and (max-width: 330px) {.main-nav {width: 32vh;}}
@media screen and (min-width: 24.375em) {.legal .legal__links {margin-left: auto;}}
@media screen and (min-width: 40.375em) {.footer__nav > * {flex: 1;}.nav__item--extra {flex-grow: 2;}.footer__addr {flex: 1 0px;}.footer__nav {flex: 2 0px;}}
@media (max-width: 590px) {.link_pc {display: none;}.link {text-align: center;display: inline-block;padding: 5px;}.dododo {t-align: center;}}
@keyframes remodal-opening-keyframes {from {opacity: 0;}to {opacity: 1;}}
@-webkit-keyframes remodal-closing-keyframes {from {opacity: 1;}to {opacity: 0;}}
@-webkit-keyframes remodal-overlay-closing-keyframes {from {opacity: 1;}to {opacity: 0;}}
@keyframes remodal-overlay-closing-keyframes {from {opacity: 1;}to {opacity: 0;}}
@media screen and (max-width: 1260px) {header {justify-content:left;align-content: center;list-style:  none;position: fixed;display:  block;}.navigation-menu {display: none} .toggle-nav-btn {display: block;} .logo-text {text-align: center;} .main-nav {display:block}}
@media screen and (max-width: 1100px) {.cont {justify-content: center;align-content: center;object-fit: cover;flex-wrap: wrap;display: flex;width: 100%;}
@media screen and (max-width: 820px) {img#main-img {height: 300px;}}
@media screen and (max-width: 650px) {img#main-img {height: 250px;}}
@media only screen and (min-width: 641px) {.remodal {max-width: 700px;}}
@media screen and (max-width: 550px) {img#main-img {height: 200px;}}
@media screen and (max-width: 450px) {img#main-img {height: 150px;}.button-download, .button-download-disabled {padding: 15px 30px 15px 30px;}.button-download {font-size: 5px;}}
@media screen and (max-width: 350px) {img#main-img {height: 100px;}.button-download, .button-download-disabled {padding: 15px 15px 15px 15px;}}}
